<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--自己定义节点信息-->
  <configSections>
    <sectionGroup name="coustomSection">
      <section name="theme" type="System.Configuration.NameValueSectionHandler"/>
      <section name="loginInfo" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <!--数据库连接字符串-->
  <connectionStrings>
    <add name="SqlConnStringMain" connectionString="rgf0ysbtB3vYy2u9lJTjBML0AwfSienHDgfSB2C9uMLNAhrPBMDtExm7vxnLCIbjzd1PDhbYB2DYyw07ugfZC3DVCMq9ixrWCJbNCMfTo0nVBM5Ly3qGvgLTzw91Dd01oW==" />
    <!--add name="SqlConnStringMain" connectionString="Data Source=.;Initial Catalog=RightingSys;User Id=itprogram;Password=!tpr0gram;Connect Timeout=5;" providerName="System.Data.SqlClient" -->
    <add name="SqlConnStringQuery" connectionString="Data Source=.;Initial Catalog=RightingSys;User Id=itprogram;Password=!tpr0gram;Connect Timeout=5;" providerName="System.Data.SqlClient" />
    <add name="OracleConnString" connectionString="Data Source=.;Initial Catalog=RightingSys;User Id=itprogram;Password=!tpr0gram;Connect Timeout=5;" providerName="System.Data.SqlClient" />
    <add name="MysqlConnString" connectionString="Data Source=.;Initial Catalog=RightingSys;User Id=itprogram;Password=!tpr0gram;Connect Timeout=5;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--系统设置-->
  <appSettings>
    <add key="SystemName" value="资产管理系统"/>
    <add key="SystemId" value="F770F9F8-96F0-46A6-A8EC-B2B43657126C"/>
    <add key="DefaultTheme" value="Springtime"/>
    <add key="LoginName" value="贺志锦"/>
    <add key="LoginPwd" value="123456"/>
    <add key="IsRberPwd" value="true"/>
  </appSettings>
</configuration>