<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--自己定义节点信息-->
  <configSections>
    <sectionGroup name="coustomSection">
      <section name="theme" type="System.Configuration.NameValueSectionHandler"/> 
      <section name="loginInfo" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <!--数据库连接字符串-->
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=.;Initial Catalog=RightingSys;User Id=itprogram;Password=!tpr0gram;Connect Timeout=5;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--系统设置-->
  <appSettings>
    <add key="SystemName" value="资产管理系统"/>
    <add key="SystemId" value="4c039630-cfeb-49c6-b9ca-e9b51b377724"/>
    <add key="appLogs" value="/logs/"/>
  </appSettings>




  <!--自己定义节点信息-->
  <coustomSection>
    <theme>
      <add key="DefaultTheme" value="Springtime"/>
    </theme>
    <loginInfo>
      <add key="LoginName" value="贺志锦"/>
      <add key="LoginPwd" value="123456"/>
      <add key="IsRememberPwd" value="false"/>
    </loginInfo>
  </coustomSection>
</configuration>